html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 10px auto;
}

h2 {
  font-size: 40px;
  text-align: center;
}

header {
  background-image: url("../img/bg-blue.jpg");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 20px;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

.fa-chevron-down {
  color: #fff;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1000px;
  }
}

.burger-container {
  display: flex;
  position: fixed;
  height: 55px;
  width: 60px;
  border-radius: 3px;
  background-color: #103a69;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

.burger-box {
  display: flex;
  flex-direction: column;
}

.burger-mid {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
}

.main-banner {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.banner-pic {
  border: solid #fff 4px;
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.scroll-notice {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
}

.projects-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .projects-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.projects {
  margin-bottom: 25px;
  max-width: 450px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .projects {
    max-width: 50%;
  }
}

.project-box {
  border-radius: 5px;
  overflow-x: hidden;
  text-align: center;
  background-image: url("../img/bg-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.project-box > h3 {
  margin: 10px auto;
}

.project-text {
  text-align: center;
  margin: 10px 15px 15px;
}
.project-text > p {
  color: #fff;
  margin-top: 0;
}
.project-text > a {
  color: #fff;
}

.view-project {
  color: #fff;
  font-weight: bold;
}

.fa-arrow-right {
  color: #fff;
  margin-left: 2px;
}

.project-img {
  width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact-container {
    flex-direction: row;
  }
}

.contact-section {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .contact-section {
    width: 50%;
  }
}

.contact-box {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-info {
  font-weight: bold;
}

.fa-phone {
  margin-right: 10px;
}

.fa-envelope {
  margin-right: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.contact-input {
  width: 100%;
  max-width: 450px;
  padding: 12px 8px;
  resize: none;
  margin-bottom: 20px;
  font-size: 100%;
  box-sizing: border-box;
  border: solid #ccc 1px;
}

::-moz-placeholder {
  opacity: 0.75;
}

::placeholder {
  opacity: 0.75;
}

#contact-name:focus {
  border-color: rgb(128, 203, 226);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-surname:focus {
  border-color: rgb(128, 203, 226);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-email:focus {
  border-color: rgb(128, 203, 226);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-subject:focus {
  border-color: rgb(128, 203, 226);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-message {
  height: 200px;
}
#contact-message:focus {
  border-color: rgb(128, 203, 226);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

.contact-submit {
  font-size: 15px;
  text-transform: uppercase;
  max-width: 450px;
  padding: 12px;
  border: solid #ccc 1px;
  cursor: pointer;
  letter-spacing: 1px;
}
.contact-submit:hover {
  font-weight: 500;
  border: solid rgb(128, 203, 226) 1px;
  background: #9bd8eb;
}

.btt {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
}/*# sourceMappingURL=style.css.map */