html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 10px auto;
}

h2 {
  color: #103a69;
  font-size: 40px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 36px;
  }
}

header {
  background-image: url("../img/bg-blue.jpg");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 20px;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
}

#title {
  font-size: 84px;
  background: -webkit-linear-gradient(#fff, #80cbe2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bio {
  position: absolute;
  bottom: 30%;
}
@media screen and (min-width: 620px) {
  #bio {
    bottom: 38%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  width: 220px;
  height: 100%;
  border-right: solid #103a69 5px;
}
@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

.sidebar-logo {
  background-color: #103a69;
  text-align: center;
  letter-spacing: 2px;
  font-size: 115px;
  line-height: 1.6;
  font-weight: 400;
}
.sidebar-logo > a {
  color: #fff;
}
.sidebar-logo > a:hover {
  text-decoration: none;
}

.sidebar-nav {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 15px;
}
.sidebar-nav > a {
  display: block;
  color: #103a69;
  padding-bottom: 5px;
  margin: 15px 0 5px;
  border-bottom: solid #fff 3px;
  transition: 0.5s;
}
.sidebar-nav > a:hover {
  border-color: #103a69;
  text-decoration: none;
}

.sidebar-socials {
  align-self: center;
  font-size: 20px;
  margin: auto 10px 20px;
}

.fa-github {
  color: #103a69;
  transition: 0.5s;
}
.fa-github:hover {
  color: #5bc0de;
}

.fa-chevron-down {
  color: #fff;
  transition: 0.5s;
}
.fa-chevron-down:hover {
  font-size: 26px;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1000px;
  }
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger.is-active:hover {
  opacity: 0.8;
}

.hamburger-inner {
  background-color: #fff;
}
.hamburger-inner::before {
  background-color: #fff;
}
.hamburger-inner::after {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.burger-container {
  display: flex;
  position: fixed;
  height: 55px;
  width: 60px;
  border-radius: 3px;
  background-color: #103a69;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}
@media screen and (min-width: 992px) {
  .burger-container {
    display: none;
  }
}

.burger-box {
  display: flex;
  flex-direction: column;
}

.burger-mid {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
}

@media screen and (min-width: 992px) {
  .primary-content {
    margin-left: 220px;
  }
}

.main-banner {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.mount-txt {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  align-items: center;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  font-weight: 500;
  color: #5bc0de;
}
.mount-txt:hover {
  opacity: 1;
}

.banner-pic {
  border: solid #fff 4px;
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.scroll-notice {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
}

.title-glow {
  transition: 1s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #80cbe2, 0 0 40px #80cbe2, 0 0 50px #80cbe2, 0 0 60px #80cbe2, 0 0 70px #80cbe2;
}

.title-glow-off {
  transition: 1s;
  text-shadow: none;
}

.projects-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .projects-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.projects {
  margin-bottom: 30px;
  max-width: 450px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .projects {
    max-width: 50%;
  }
}

.project-box {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 17, 0.2);
  display: flex;
  flex-direction: column;
  background-image: url("../img/pj-blue.jpg");
  border: solid #103a69 1px;
}
.project-box > h3 {
  color: #103a69;
  margin: 10px auto;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
}

.project-text {
  text-align: center;
  margin: 10px 15px 15px;
}
.project-text > p {
  color: #fff;
  margin-top: 0;
}
.project-text > a {
  color: #80cbe2;
  transition: 0.5s;
}
.project-text > a:hover {
  color: #CADCE8;
}

.view-project {
  font-size: 1.1em;
  font-weight: bold;
}

.fa-arrow-right {
  margin-left: 2px;
}

.inactive {
  color: gray;
  font-size: inherit;
}
.inactive:hover {
  font-size: inherit;
  text-decoration: none;
}

.project-img {
  width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact-container {
    flex-direction: row;
  }
}

.contact-section {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .contact-section {
    width: 50%;
  }
}

.contact-box {
  display: flex;
  align-items: center;
  color: #103a69;
  margin: 20px 0;
}

.contact-info {
  font-weight: bold;
}

.fa-phone {
  margin-right: 10px;
}

.fa-envelope {
  margin-right: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.contact-input {
  width: 100%;
  max-width: 450px;
  padding: 12px 8px;
  resize: none;
  margin-bottom: 20px;
  font-size: 100%;
  box-sizing: border-box;
  border: solid #ccc 1px;
}

::-moz-placeholder {
  opacity: 0.75;
}

::placeholder {
  opacity: 0.75;
}

#contact-name:focus {
  border-color: #80cbe2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-surname:focus {
  border-color: #80cbe2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-email:focus {
  border-color: #80cbe2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-subject:focus {
  border-color: #80cbe2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#contact-message {
  height: 200px;
}
#contact-message:focus {
  border-color: #80cbe2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

.contact-submit {
  font-size: 15px;
  text-transform: uppercase;
  max-width: 450px;
  padding: 12px;
  border: solid #ccc 1px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s;
}
.contact-submit:hover {
  border: solid #80cbe2 1px;
  background: #9bd8eb;
}

.aboutme-pic {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.aboutme-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .aboutme-container {
    flex-direction: row;
  }
}

.aboutme-section {
  padding: 0 15px;
}
.aboutme-section > h3 {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .aboutme-section {
    width: 50%;
  }
}

.my-skills {
  margin-bottom: 26px;
}

.aboutme-link {
  color: #309ACA;
  font-weight: 500;
  transition: 0.5s;
}
.aboutme-link:hover {
  color: #5bc0de;
  text-decoration: none;
}

.scs-scheme-container {
  margin-bottom: 40px;
}

.scheme-box {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 17, 0.2);
  border: solid gray 1px;
  padding: 0 10px;
}
.scheme-box > h3 {
  font-size: 34px;
  font-weight: 500;
  margin: 10px auto;
}
@media screen and (max-width: 576px) {
  .scheme-box > h3 {
    font-size: 28px;
  }
}

.scheme-img {
  width: 100%;
  max-width: 200px;
}

.scheme-text {
  text-align: center;
  margin: 10px 15px 15px;
}
.scheme-text > p {
  color: #001;
  margin-top: 0;
  margin-bottom: 32px;
}
.scheme-text > ul {
  padding-left: 20px;
  text-align: left;
}
.scheme-text > ul > li {
  margin-bottom: 5px;
}

.btt {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
}

.fa-chevron-up {
  transition: 0.5s;
}
.fa-chevron-up:hover {
  font-size: 26px;
}/*# sourceMappingURL=style.css.map */