h1 {
    font-size: 60px;
    text-align: center;
    margin: 10px auto;

}

h2 {
    color: $color-blue;
    font-size: 40px;
    text-align: center;
    @media screen and (max-width: $mb-sm) {
        font-size: 36px;
    }
}

header {
    background-image: url("../img/bg-blue.jpg");
    color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: 0 20px;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
}

#title {
    font-size: 84px;
    background: -webkit-linear-gradient($color-white, $color-lightcyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bio {
    position: absolute;
    bottom: 30%;
    @media screen and (min-width: 620px) {
        bottom: 38%;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $color-white;
    width: 220px;
    height: 100%;
    border-right: solid $color-blue 5px;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.sidebar-logo {
    background-color: $color-blue;
    text-align: center;
    letter-spacing: 2px;
    font-size: 115px;
    line-height: 1.6;
    font-weight: 400;
    & > a {
        color: $color-white;
        &:hover {
            text-decoration: none;
        }
    }
}

.sidebar-nav {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 15px;
    & > a {
        display: block;
        color: $color-blue;
        padding-bottom: 5px;
        margin: 15px 0 5px;
        border-bottom: solid $color-white 3px;
        transition: 0.5s;
        &:hover {
            border-color: $color-blue;
            text-decoration: none;
        }
    }
}

.sidebar-socials {
    align-self: center;
    font-size: 20px;
    margin: auto 10px 20px;
}

.fa-github {
    color: $color-blue;
    transition: 0.5s;
    &:hover {
        color: $color-cyan;
    }
}

.fa-chevron-down {
    color: $color-white;
    transition: 0.5s;
    &:hover {
        font-size: 26px;
    }
}

.main-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $mb-med) {
        max-width: 1000px;
    }
}

.hamburger:hover {
    opacity: 0.8; 
}
.hamburger.is-active:hover {
    opacity: 0.8; 
}

.hamburger-inner {
    background-color: $color-white;
    &::before {
        background-color: $color-white;
    }
    &::after {
        background-color: $color-white;
    }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: $color-white; }

.burger-container {
    display: flex;
    position: fixed;
    height: 55px;
    width: 60px;
    border-radius: 3px;
    background-color: $color-blue;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    @media screen and (min-width: $mb-lg) {
        display: none;
    }
}

.burger-box {
    display: flex;
    flex-direction: column;
}

.burger-mid {
    width: 30px;
    height: 4px;
    background-color: $color-white;
    margin: 3px 0;
}

.primary-content {
    @media screen and (min-width: $mb-lg) {
        margin-left: 220px;
    }
}

.main-banner {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.mount-txt {
    display: flex;
    user-select: none;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    font-weight: 500;
    color: $color-cyan;
    &:hover {
        opacity: 1;
    }
}

.banner-pic {
    border: solid $color-white 4px;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

.scroll-notice {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    bottom: 15px;
}

.title-glow {
    transition: 1s;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $color-lightcyan, 0 0 40px $color-lightcyan, 0 0 50px $color-lightcyan, 0 0 60px $color-lightcyan, 0 0 70px $color-lightcyan;
}

.title-glow-off {
    transition: 1s;
    text-shadow: none;
}

// ---------- HOMEPAGE ---------- //

.projects-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $mb-med) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}

.projects {
    margin-bottom: 30px;
    max-width: 450px;
    padding: 0 15px;
    @media screen and (min-width: $mb-med) {
        max-width: 50%;
    }
}

.project-box {
    @include box-design();
    display: flex;
    flex-direction: column;
    background-image: url("../img/pj-blue.jpg");
    border: solid $color-blue 1px;
    & > h3 {
        color: $color-blue;
        margin: 10px auto;
        font-size: 24px;
        font-weight: bold;
        margin: 10px auto;
    }
}

.project-text {
    text-align: center;
    margin: 10px 15px 15px;
    & > p {
        color: $color-white;
        margin-top: 0;
    }
    & > a {
        color: $color-lightcyan;
        transition: 0.5s;
        &:hover {
            color: $color-bg;
        }
    }
}

.view-project {
    font-size: 1.1em;
    font-weight: bold;
}

.fa-arrow-right {
    margin-left: 2px;
}

.inactive {
    color: $color-gray;
    font-size: inherit;
    &:hover {
        font-size: inherit;
        text-decoration: none;
    }
}

.project-img {
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $mb-med) {
        flex-direction: row;
    }
}

.contact-section {
    padding: 0 15px;
    @media screen and (min-width: $mb-med) {
        width: 50%;
    }
}

.contact-box {
    display: flex;
    align-items: center;
    color: $color-blue;
    margin: 20px 0;
}

.contact-info {
    font-weight: bold;
}

.fa-phone {
    margin-right: 10px;
}

.fa-envelope {
    margin-right: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.contact-input {
    width: 100%;
    max-width: 450px;
    padding: 12px 8px;
    resize: none;
    margin-bottom: 20px;
    font-size: 100%;
    box-sizing: border-box;
    border: solid $color-lightgray 1px;
}

::placeholder {
    opacity: 0.75;
}

#contact-name {
    @include focus-glow();
}

#contact-surname {
    @include focus-glow();
}

#contact-email {
    @include focus-glow();
}

#contact-subject {
    @include focus-glow();
}

#contact-message {
    height: 200px;
    @include focus-glow();

}

.contact-submit {
    font-size: 15px;
    text-transform: uppercase;
    max-width: 450px;
    padding: 12px;
    border: solid $color-lightgray 1px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.5s;
    &:hover {
        border: solid $color-lightcyan 1px;
        background: lighten($color-cyan, 15%);
    }
}

// ---------- END OF HOMEPAGE ---------- //

// ---------- "ABOUT ME" PAGE ---------- //

.aboutme-pic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutme-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $mb-med) {
        flex-direction: row;
    }
}

.aboutme-section {
    padding: 0 15px;
    & > h3 {
        margin-top: 0;
    }
    @media screen and (min-width: $mb-med) {
            width: 50%;
    }
}

.my-skills {
    margin-bottom: 26px;
}

.aboutme-link {
    color: $color-lightblue;
    font-weight: 500;
    transition: 0.5s;
    &:hover {
        color: $color-cyan;
        text-decoration: none;
    }
}

// ---------- END OF "ABOUT ME" PAGE ---------- //

// ---------- "SCS SCHEME" PAGE ---------- //

.scs-scheme-container {
    margin-bottom: 40px;
}

.scheme-box {
    @include box-design();
    border: solid $color-gray 1px;
    padding: 0 10px;
    & > h3 {
        font-size: 34px;
        font-weight: 500;
        margin: 10px auto;
        @media screen and (max-width: $mb-sm) {
            font-size: 28px;
        }
    }
}

.scheme-img {
    width: 100%;
    max-width: 200px;
}

.scheme-text {
    text-align: center;
    margin: 10px 15px 15px;
    & > p {
        color: $color-black;
        margin-top: 0;
        margin-bottom: 32px;
    }
    & > ul {
        padding-left: 20px;
        text-align: left;
        & > li {
            margin-bottom: 5px;
        }
    }
}

// ---------- END OF "SCS SCHEME" PAGE ---------- //

// btt = back to top
.btt {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 15px;
}

.fa-chevron-up {
    transition: 0.5s;
    &:hover {
        font-size: 26px;
    }
}
