h1 {
    font-size: 60px;
    text-align: center;
    margin: 10px auto;

}

h2 {
    font-size: 40px;
    text-align: center;
}

header {
    background-image: url("../img/bg-blue.jpg");
    color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-chevron-down {
    color: $color-white;
}

main {
    margin: 0 20px;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
}

.main-container {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.burger-container {
    display: flex;
    position: fixed;
    height: 55px;
    width: 60px;
    border-radius: 3px;
    background-color: $color-blue;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
}

.burger-box {
    display: flex;
    flex-direction: column;
}

.burger-mid {
    width: 30px;
    height: 4px;
    background-color: $color-white;
    margin: 3px 0;
}

.main-banner {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.banner-pic {
    border: solid $color-white 4px;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

.scroll-notice {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    bottom: 15px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    max-width: 450px;
}

.project-box {
    border: solid $color-lightgray 1px;
    overflow-x: hidden;
    text-align: center;
    & > h3 {
        margin: 10px auto;
    }
}

.project-text {
    text-align: center;
    margin: 10px 15px;
    & > p {
        margin-top: 0;
    }
}

.view-project {
    font-weight: bold;
}

.fa-arrow-right {
    margin-left: 2px;
}

.project-img {
    width: 100%;
}

.contact-box {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-info {
    font-weight: bold;
}

.fa-phone {
    margin-right: 10px;
}

.fa-envelope {
    margin-right: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.contact-input {
    width: 100%;
    max-width: 450px;
    padding: 12px 8px;
    resize: none;
    margin-bottom: 20px;
    font-size: 100%;
    box-sizing: border-box;
    border: solid $color-lightgray 1px;
}

#contact-name {
    @include focus-glow();
}

#contact-surname {
    @include focus-glow();
}

#contact-email {
    @include focus-glow();
}

#contact-subject {
    @include focus-glow();
}

#contact-message {
    height: 200px;
    @include focus-glow();

}

.contact-submit {
    font-size: 15px;
    text-transform: uppercase;
    max-width: 450px;
    padding: 12px;
    border: solid $color-lightgray 1px;
    cursor: pointer;
    letter-spacing: 1px;
    &:hover {
        background: $color-lightgray;
    }
}

// btt = back to top
.btt {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 15px;
}
