// ---------- COLOUR VARIABLES ---------- //

$color-white: #fff;
$color-black: #001;
$color-gray: gray;
$color-lightgray: #ccc;
$color-blue: #103a69;
$color-lightblue: #309ACA;
$color-cyan: #5bc0de;
$color-lightcyan: #80cbe2;
$color-bg: #CADCE8;
$color-bgdark: #C2D5E3;

// ---------- MEDIA BREAKPOINTS ---------- //

$mb-sm: 576px;
$mb-med: 768px;
$mb-lg: 992px;
$mb-xl: 1200px;
