$color-white: #fff;
$color-black: #001;
$color-gray: gray;
$color-lightgray: #ccc;
$color-blue: #103a69;
$color-lightblue: #309ACA;
$color-cyan: #5bc0de;
$color-lightcyan: rgb(128, 203, 226);
$color-bg: #CADCE8;
$color-bgdark: #C2D5E3