#main-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-box-desc {
  margin-top: 5px;
}

.box-example-container {
    position: relative;
    width: 640px;
    height: 320px;
    overflow: hidden;
    border: solid #002 1px;
    background-color: #319b3f;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 2, 0.2);
  }

  .main-box {
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: #3131d8;
    border-radius: 10px 10px 0 0;
    transition: 1s;
  }

  .right-click-menu {
    display: none;
    position: absolute;
    background-color: #202020;
    border: solid #001 1px;
    & a {
      display: block;
      color: #e7e7e7;
      cursor: pointer;
      pointer-events: none;
    }
  }